/* Add to Custom CSS in Dashboard */
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-base.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-accent.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-roundings.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-login.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-lists.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-media.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-episodes.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-player.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-cast.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-usersettings.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-dashboard.css');
@import url('https://buesche87.github.io/jellyfin-theme-buesche/jellyfin-theme-buesche-misc.css');
:root {--accent: 255,153,0 ;}
:root {--rounding: 12px ;}
:root {--rounding-input: 4px ;}
:root {--background-verylight: rgba(255, 255, 255, 0.6) ;}
:root {--background-lighter: rgba(255, 255, 255, 0.4) ;}
:root {--background-light: rgba(255, 255, 255, 0.2) ;}
:root {--background-dark: rgba(0, 0, 0, 0.2) ;}
:root {--background-darker: rgba(0, 0, 0, 0.4) ;}
:root {--background-verydark: rgba(0, 0, 0, 0.6) ;}
:root {--background-darkest: rgba(0, 0, 0, 0.8) ;}