/*
    Modified: Ultrachromic/fields/fields_border.css & Ultrachromic/jf_font.css
*/

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
.emby-textarea {
  font-family: monospace;
  font-size: 10pt;
}

/* Entry fields, checkmarks, thin borders dark highlight */
.emby-input,
.emby-textarea {
  padding: .4em .55em;
}
.trackSelections,
.selectContainer,
.detailTrackSelect {
  padding: .35em 1.9em .35em .35em !important; 
}
.selectArrow {
    margin-top: 1.05em;
}
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  background: rgba(0, 0, 0, 0.2); 
  border: 0.01em solid rgba(255, 255, 255, 0.22);
}
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  background: rgba(0, 0 , 0, 0.4) !important; 
}
.emby-textarea:focus,
.emby-select-withcolor:focus,
.emby-input:focus,
.itemSelectionPanel {
  border: 0.01em solid rgba(var(--background-selection), 0.8) !important;
}
.emby-checkbox:checked + span + .checkboxOutline {
  background-color: rgba(0, 0 , 0, 0.4) !important; 
  border: 0.01em solid rgba(var(--background-selection), 0.8) !important;
}

/* Library scan progress bar */
progress {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 0px solid rgba(255, 255, 255, 0.22);
}
progress::-moz-progress-bar {
  background-color: rgba(255,255,255,0.75);
}
progress::-webkit-progress-value {
  background-color: rgba(255,255,255,0.75);
}
#divRunningTasks span {
  color: rgba(255,255,255,0.75) !important;
}
.taskProgressOuter {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.22);
}
.taskProgressInner {
  background: rgba(255,255,255,0.75) !important;
}
#scheduledTasksPage span {
  color: rgba(255,255,255,0.75) !important;
}
