/*  
==================================
  Style the media page
==================================
*/

/* Details Ribbon with media infos & buttons */

/* style & placement of the ribbon */
.detailRibbon {
  background: rgba(0, 0, 0, 0.2) !important;
  height: 5em !important;
  padding-left: 32vw !important;
  padding-right: 2%;
}

/* hide "ends at" info in ribbon */
.endsAt {
  display: none !important;
}

/* make media buttons bigger (play, trailer, watched etc.) */
.mainDetailButtons {
	font-size: 120%;
}

/* media infos - placement and same color */
.itemMiscInfo {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  color: #ffffff !important;
}

/*
  media details
*/

/* hide media logo */
.detailLogo {
  display: none !important;
}

#itemDetailPage .itemName.infoText.parentNameLast {
  display: none;
}

.hide+.detailPageWrapperContainer .itemName {
  display: block !important;
}

.itemName {
  margin: .5em 0 !important;
}


/*
#itemDetailPage .detailLogo {
    position: static;
    margin-left: 32.5%;
    display: block;
    -webkit-filter: drop-shadow(0 0 10px rgba(2, 2, 2, 0.75));
    flex-shrink: 0;
    background-position: 0 50%;
    margin-top: 8vh;
    margin-bottom: -12vh;
}
    
.layout-mobile .detailLogo {
    display: none !important;
}

.layout-mobile #itemDetailPage .itemName.infoText.parentNameLast {
    display: block;
}

*/

/* track selections (audio & subtitles) */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-bottom: 0.5em;
}
.detailTrackSelect {
  background: transparent !important;
  padding: .35em 1.9em .35em .35em !important;
}
.detailTrackSelect[disabled] {
  color: white !important;
}

/* background - card for media details */
.detailPagePrimaryContent {
  background: rgba(0, 0, 0, 0.4) !important;
  padding: 1em;
  border-radius: var(--rounding);
  right: 2%;
}

/* don't break line for tv */
.layout-tv .detailPagePrimaryContainer {
    display: flex;
}

/* reposition media card for tv */
.layout-tv .detailImageContainer .card {
  left: 3%;
  /* padding-top: 1em; */
}

.layout-tv .itemDetailPage {
  padding-top: 6em !important;
}

/* Section layout (cast, more like this...) */

/* reduce space between sections */
.layout-tv .detailVerticalSection {
  margin-bottom: 0em !important;
}

/* fix section title placement */
.sectionTitle {
	margin-left: .4em !important;
	margin-top: .2em !important;
	margin-bottom: .2em !important;
}
.sectionTitleTextButton > .material-icons {
  margin: 0;
}

/* Media sections - Mobile layout */
.layout-mobile :not(.sectionTitleContainer-cards)>.sectionTitle-cards {
 padding-top:0em;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}
