/* 
    Modified Ultrachromic/rounding_circlehover.css
*/

:root {--rounding: 12px;}
:root {--rounding-input: 4px;}

/*
| Border Radius: Full
-----------------------------*/

/* full radius */
.detailButton,
.detailButton:hover,
.headerButton,
.headerButton:hover,
.paper-icon-button-light,
.paper-icon-button-light:hover {
  border-radius: var(--rounding);
}

/* progress */
progress,
progress::-webkit-progress-bar,
progress::-moz-progress-bar,
progress::-webkit-progress-value,
.taskProgressOuter,
.taskProgressInner {
  border-radius: var(--rounding);
}

/* forms */
.formDialogHeader {
  border-top-left-radius: var(--rounding);
  border-top-right-radius: var(--rounding);
}
.formDialogFooter {
  border-bottom-left-radius: var(--rounding);
  border-bottom-right-radius: var(--rounding);
}

/* .unairedIndicator, */
/* .countIndicator, */
/* .emby-select-withcolor, */
/* .emby-input, */
.blurhash-canvas,
.cardOverlayContainer,
.cardContent,
.cardContent-button, 
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.detailTable,
.dialog,
.fab,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.listItem-border,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.listItem:hover, 
.multiSelectCheckboxOutline,
.nowPlayingPageImage,
.primaryImageWrapper > img,
.raised,
.sessionNowPlayingInnerContent, 
.toast,
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox {
  border-radius: var(--rounding) !important;
}
.osdPoster img {
  border-radius: var(--rounding); border: none;
}

/* slider */
.mdl-slider::-moz-range-thumb,
.mdl-slider::-ms-thumb,
.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

/* user profile (?) */
div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}

/* cards - half */
#divVirtualFolders .cardImageContainer, 
#divVirtualFolders .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}
#userProfilesPage .cardImage, 
#userProfilesPage .cardContent {
    border-radius: var(--rounding) var(--rounding) 0 0 !important;
}

/*
| Border Radius: Small
-----------------------------*/

/* .visualCardBox */
.emby-input,
.emby-select {
  border-radius: var(--rounding-input) !important;
}


/*.blurhash-canvas,
.cardContent,
.cardContent-button,
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,*/
.button-submit,
.countIndicator,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.detailTable,
.dialog,
.emby-textarea,
.fab,
/*.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,*/
.listItem-border,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.listItem:hover,
.mediaSourceIndicator,
.multiSelectCheckboxOutline,
.nowPlayingPageImage,
.paperList,
.playedIndicator,
/*.primaryImageWrapper > img, */
/*.raised,*/
.sessionNowPlayingInnerContent,
.toast
/*.upNextContainer,
.upNextDialog-poster-img*/ {
    border-radius: var(--rounding-input) !important;
}

/* Dashboard page */
#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent {
    border-radius: var(--rounding-input) var(--rounding-input) 0 0 !important;
}

/* border-radius: 4px !important; */