/*  
  ==================================
  Accent Colors
  ==================================

  finnyTV - HTPC Theme for Jellyin
  Based on: Ultrachromic/login/login_frame.css

*/


/*
| Buttons
-----------------------------*/

/* Accent Color: 100% */
.buttonActive,
.css-17c09up.Mui-selected,
.inputLabelFocused,
.navMenuOption-selected,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating {
  color: rgba(var(--accent)) !important;
}

/* Background: Black & White */
.navMenuOption-selected,
.selectionCommandsPanel {
  background: var(--dark40) !important;
}


/*
| Button Animations
-----------------------------*/

/* Transitions */
.raised.homeLibraryButton {
  transition: filter 0.2s
}

a[data-role="button"],
.fab,
.raised {
	transition: all 0.2s !important;
  background: var(--dark40) !important;
}

.raised.homeLibraryButton:hover {
  color: rgb(var(--accent)) !important;
  background: var(--light60) !important;
  transition: filter 0.2s
}

/* Background on Hover & Focus: Accent 50% */
a[data-role="button"]:hover,
.actionSheetMenuItem:hover,
.alphaPickerButton-tv:focus,
.alphaPickerButton-tv:hover,
.css-17c09up:hover,
.fab:hover,
.navMenuOption:hover,
.raised:hover, 
.raised:focus {
  background: rgba(var(--accent),0.8) !important;
}

