/*  
  ==================================
  Media Lists
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic

*/


/* Affects blurhash to remove the saturated colors to fit overall look */
.blurhash-canvas {
	filter: opacity(60%) saturate(60%);
}

/* Shadows */
.visualCardBox,
.cardImageContainer {
  box-shadow: none;
}

.cardPadder {
  background-color: #0000 !important;
  box-shadow: none !important;
}

/*
| Lists - Alignments & Size
---------------------------------------*/

/* Main Lists */
.itemsContainer-tv.vertical-wrap {
  padding-top: 1% !important;
  padding-right: 3% !important; 
  padding-left: 3% !important;
}

/* Scrollable List */
.itemsContainer-tv.scrollSlider {
  padding-top: 1% !important;
  padding-left: 1% !important;
}

/* more space for zoomed cards */
.portraitCard.show-focus.show-animation,
.backdropCard.show-focus.show-animation {
  padding-bottom: 1.5em !important;
}

/* Narrow margins */
.cardBox-bottompadded {
  margin-bottom: 0.5em !important;
  margin-right: 1.5em !important;
}

/*
| Item Cards
---------------------------------------*/

/* Backdrop Card size*/
.itemsContainer-tv > .backdropCard {
  width: 20% !important;
}

/* Backdrop Overflow Cards size */
.itemsContainer-tv > .overflowBackdropCard {
  width: 30% !important;
}

/* Portrait cards size */
.itemsContainer-tv > .portraitCard {
  width: 16% !important;
}

/* Overflow Portrait cards size */
.itemsContainer-tv > .overflowPortraitCard, 
.itemsContainer-tv > .overflowSquareCard {
  width: 16% !important;
}

/* Full Radius */
#moviesPage .cardImageContainer.coveredImage.cardContent.lazy-hidden,
#tvRecommendedPage .cardImageContainer.coveredImage.cardContent.lazy-hidden {
  border-radius: var(--rounding) !important;
}

/* Round Top - Flat Bottom */
/*
#moviesPage .card-hoverable:hover .cardOverlayContainer,
#moviesPage .cardImageContainer.coveredImage.cardContent.lazy-image-fadein-fast,
#moviesPage .cardImageContainer.coveredImage.cardContent.lazy-image-fadein-fast:hover,
#tvRecommendedPage .card-hoverable:hover .cardOverlayContainer,
#tvRecommendedPage .cardImageContainer.coveredImage.cardContent.lazy-image-fadein-fast,
#tvRecommendedPage .cardImageContainer.coveredImage.cardContent.lazy-image-fadein-fast:hover {
  border-top-left-radius: var(--rounding) !important;
  border-top-right-radius: var(--rounding) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
*/


.itemsContainer-tv.vertical-wrap .card.portraitCard .cardImageContainer.lazy-image-fadein-fast,
.itemsContainer-tv.vertical-wrap .card.backdropCard .cardImageContainer.lazy-image-fadein-fast {
  border-top-left-radius: var(--rounding) !important;
  border-top-right-radius: var(--rounding) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


/*
| Item Cards - Animation
---------------------------------------*/

/* Zoom on Focus */
.card.show-animation:focus > .cardBox {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

/* More space for zoom */
.itemsContainer > .card > .cardBox {
  margin-left: 0.5em !important;
  margin-right: 2em;
}

/* text color on focus */
.card.show-animation:focus > .cardBox > .cardText-first,
.card.show-animation:focus > .cardBox > .cardText-secondary,
.card.show-animation:focus > .cardBox > .cardFooter > .cardText-first,
.card.show-animation:focus > .cardBox > .cardFooter > .cardText-secondary {
  color: rgba(var(--accent));
}


/*
| Item Description
---------------------------------------*/

/* Hide Series Title on overflow backdropo cards */
.overflowBackdropCard > .cardBox > .cardText-first {
  display: none;
}

/* Make Episode Title bigger */
.overflowBackdropCard > .cardBox > .cardText-secondary {
  font-size: 95% !important;
  padding-top: .6em !important;
  color: inherit;
}

/* Remove item description on backdrop cards */
#moviesPage .backdropCard > .cardFooter > .cardText-secondary,
#tvRecommendedPage .backdropCard > .cardFooter > .cardText-secondary {
  display: none !important;
}

/* Show item description on portrait cards */
#moviesPage .portraitCard > .cardFooter > .cardText-secondary,
#tvRecommendedPage .portraitCard > .cardFooter > .cardText-secondary {
  display: block !important;
}

/* Title */
.cardText-first {
  padding-top: .5em !important;
}

/* Secondary Infos */
.cardText-secondary {
  font-size: 75% !important;
}


/*
| Media Indicators
-----------------------------*/

/* Indicator alignment */
.cardIndicators,
.listItemIndicators,
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}

/* Count & Played */
.countIndicator,
.playedIndicator,
.mediaSourceIndicator {
  color: black;
  background: rgb(var(--accent), 0.8) !important;
}

/* Missing & Unaired */
.missingIndicator,
.unairedIndicator {
    color: #fff;
  background: #ae3030eb;
    padding: .3em .6em;
}

/*
| Progress Bar
---------------------------------------*/

/* Card progress bar */
#indexPage .itemProgressBarForeground,
.libraryPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground {
  background-color: rgba(var(--accent), 0.95) !important;
  border-radius: var(--rounding) !important;
}

/* Card progress bar container */
#indexPage .itemProgressBar,
.libraryPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
  /* background-color: var(--background-dark40) !important; */
  border-radius: var(--rounding) !important;
  height: 6px !important;
  margin: .5em .8em !important;
  backdrop-filter: blur(12px);
} 

/* Card progress background */
/*
#indexPage .innerCardFooter,
.libraryPage .innerCardFooter,
#itemDetailPage .innerCardFooter {
  background: transparent !important;
  background-color: transparent !important;
  border-radius: var(--rounding) !important;
  box-shadow: none !important;
}
*/


/*
| Glow
---------------------------------------*/

/* Item Cards: Glow Card */
/*
.card.backdropCard.show-animation:hover > .cardBox, 
.card.backdropCard.show-animation:focus > .cardBox,
.card.portraitCard.show-animation:hover > .cardBox, 
.card.portraitCard.show-animation:focus > .cardBox {
  box-shadow: 0px 0px 5px rgba(var(--accent)) !important;
  border: solid 1px rgba(var(--accent), 0.6) !important;
  border-radius: var(--rounding);
}
  */

/* Overflow Cards: Glow Image only */
/*
.card.overflowBackdropCard.show-animation:hover > .cardBox > .cardScalable,
.card.overflowBackdropCard.show-animation:focus > .cardBox > .cardScalable,
.card.overflowPortraitCard.show-animation:hover > .cardBox > .cardScalable,
.card.overflowPortraitCard.show-animation:focus > .cardBox > .cardScalable {
  box-shadow: 0px 0px 5px rgba(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
  border-radius: var(--rounding);
}
*/

/* Item Cards: Fix image resesizeing when hovered */
/*
.card.backdropCard.show-animation > .cardBox, 
.card.portraitCard.show-animation > .cardBox,
.card.overflowBackdropCard.show-animation > .cardBox > .cardScalable,
.card.overflowPortraitCard.show-animation > .cardBox > .cardScalable {
  box-shadow: 0px 0px 5px transparent !important;
  border: solid 1px transparent !important;
  border-radius: var(--rounding);
}
*/

