/*
    Ultrachromic/header/header_transparent.css
*/

:root {--headersize: 3.8em;}

.skinHeader-withBackground {
    background-color: rgba(0, 0, 0, 0.6);
}

.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Top "task bar" - text & always-scroll */
.headerTabs.sectionTabs {
  text-size-adjust: 105%;
  font-size: 105% !important;
  width: 50vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: -4em !important;
}

/* items in "task bar" - same size as header */
.emby-tabs-slider {
  white-space: nowrap;
  height: var(--headersize);
}

/* center buttons on taskbar  */
.headerTop {
    padding: 1em 1em !important;
}
/*
.headerTabs {
    margin-top: -4em !important;
}

.sectionTabs {
    font-size: 105% !important;
}
*/
/* style buttons & hover */

.emby-button.show-focus:focus {
  background: rgba(255, 255, 255, 0.4) !important;
  color: rgb(var(--accent));
}
.button-flat.show-focus:focus {
  background: rgba(255, 255, 255, 0.4) !important;
}
/*
.paper-icon-button-light:focus {
  color: rgb(var(--accent));
}*/
.emby-tab-button {
  padding: 1.1em 1.5em !important;
}
/*
.emby-tab-button.show-focus:focus {
  background: rgba(255, 255, 255, 0.4) !important;
}*/

.headerButton,
.headerButton:hover,
.paper-icon-button-light,
.paper-icon-button-light:hover {
  border-radius: var(--rounding);
}

#indexPage, #moviesPage, #tvRecommendedPage, #musicRecommendedPage {
    margin-top: 5em !important;
    padding-top: 0.5em !important;
    /*overflow-y: scroll;*/
}


.libraryDocument {
  overflow-y: none !important;
}



