/*
    Ultrachromic/header/header_transparent.css
*/

:root {--headersize: 3.8em;}

.skinHeader-withBackground {
    background-color: rgba(0, 0, 0, 0.4) !important;
}


/* Top "task bar" - text & always-scroll */
.headerTabs.sectionTabs {
  text-size-adjust: 110%;
  font-size: 110%;
  /* width: 60%; */
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

/* items in "task bar" - same size as header */
.emby-tabs-slider {
  white-space: nowrap;
  height: var(--headersize);
}

/* button focus accent color */
.emby-tab-button.show-focus:focus {
  color: rgb(var(--accent));
}


.headerTop {
    padding: 1em 1em !important;
}

.headerTabs {
    /* -webkit-align-items: center; */
    /* align-items: center; */
    /* -webkit-align-self: center; */
    /* align-self: center; */
    /* -webkit-justify-content: center; */
    justify-content: center;
    margin-top: -3.8em !important;
    position: relative;
    width: auto;
}


/*
@media (max-width: 100em) {
    .sectionTabs {
        font-size: 83.5%;
    }
}
*/




/*
.pageTitle {
  margin-top: auto; 
  margin-bottom: auto;
}*/


/* fit page content to header size */
#indexPage, #moviesPage, #tvRecommendedPage, #musicRecommendedPage {
  margin-top: var(--headersize);
}

/*Pages the have single unit height taskbar*/
@media all and (min-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 68px;
    padding-top: 0px !important;
    overflow-y: scroll;
  }
}

/*Pages the have two unit height taskbar*/
@media all and (max-width: 100em){
  #indexPage,
  #moviesPage,
  #tvRecommendedPage,
  #musicRecommendedPage {
    margin-top: 130px;
    padding-top: 0.5em !important;
    overflow-y: scroll;
  }
}

.force-scroll {
    overflow-y: auto;
    overflow-x: auto;
}