

/* media details and button background */
.detailPagePrimaryContainer {
  background: rgba(0, 0, 0, 0.3) !important;
}

/* Enlarge button row on item page, even more on mobile */
.mainDetailButtons {
	font-size: 120%;
}

/* Add fixes, start of file */
@media all and (min-width: 100em){
  .button-flat {
    margin: .2em !important;
    padding: .85em !important;
  }
}
@media all and (max-width: 100em){
  .mainDetailButtons {
    font-size: 155%;
  }
  .detailButton {
    max-width: 15vw !important;
  }
}

/* hide "ends at" info */
.endsAt {
  display: none !important;
}

/* Media Info */

.itemMiscInfo {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

/*
.infoWrapper {
    -webkit-align-items: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: var(--rounding-mediainfo) !important;
}

.mainDetailButtons {
    -webkit-align-items: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: var(--rounding-mediainfo) !important;
}

*/