/*  
  ==================================
  Roundings
  ==================================

  finny - HTPC Theme for Jellyin
  Modified Ultrachromic/rounding_circlehover.css

*/

/*
:root {--rounding: 12px;}
:root {--rounding-input: 4px;}
*/

/*
| Full Radius 
-------------------------------*/

/* Buttons */
.detailButton,
.detailButton:hover,
.headerButton,
.headerButton:hover,
.paper-icon-button-light,
.paper-icon-button-light:hover {
  border-radius: var(--rounding);
}

/* Progress */
progress,
progress::-webkit-progress-bar,
progress::-moz-progress-bar,
progress::-webkit-progress-value,
.taskProgressOuter,
.taskProgressInner {
  border-radius: var(--rounding);
}

/* Cards & Items */
.blurhash-canvas,
.cardOverlayContainer,
.cardContent,
.cardContent-button, 
.cardContent-shadow,
.cardImage,
.cardImageContainer,
.cardOverlayButtonIcon,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.detailTable,
.innerCardFooter,
.itemDetailImage,
.itemSelectionPanel,
.nowPlayingPageImage,
.primaryImageWrapper > img,
.raised,
.sessionNowPlayingInnerContent, 
.upNextContainer,
.upNextDialog-poster-img,
.visualCardBox {
  border-radius: var(--rounding) !important;
}
.osdPoster img {
  border-radius: var(--rounding); 
  border: none;
}

/* Slider */
.mdl-slider::-moz-range-thumb,
.mdl-slider::-ms-thumb,
.mdl-slider::-webkit-slider-thumb {
  border-radius: var(--rounding);
}

/* Scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: var(--rounding);
}

/*
| Full Radius - Top or Bottom
---------------------------------------*/

/* Round Top - Flat Bottom */
.cardImageContainer.coveredImage.cardContent {
  border-top-left-radius: var(--rounding) !important;
  border-top-right-radius: var(--rounding) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* Flat Top - Round Bottom */
#userProfilesPage .cardImage, 
#userProfilesPage .cardContent,
#divVirtualFolders .cardImageContainer {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top-left-radius: var(--rounding) !important;
  border-top-right-radius: var(--rounding) !important;
}

/*
| Full Radius - Sides
---------------------------------------*/

/* left */
div[data-role="controlgroup"] a[data-role="button"]:first-child {
	border-bottom-left-radius: var(--rounding);
	border-top-left-radius: var(--rounding);
}

/* right */
div[data-role="controlgroup"] a[data-role="button"]:last-child {
	border-bottom-right-radius: var(--rounding);
	border-top-right-radius: var(--rounding);
}


/*
| Small Radius
-----------------------------*/

/* buttons & system */
.button-submit,
.countIndicator,
.chapterThumb,
.chapterThumbContainer,
.chapterThumbTextContainer,
.checkboxOutline,
.detailTable,
.dialog,
.emby-input,
.emby-select 
.emby-textarea,
.formDialogHeader,
.formDialogFooter,
.fab,
.listItem-border,
.listItemButton,
.listItemIcon,
.listItemImage,
.listItemImageButton,
.listItem:hover,
.mediaSourceIndicator,
.multiSelectCheckboxOutline,
.paperList,
.playedIndicator,
.toast {
  border-radius: var(--rounding-input) !important;
}

/* Only on Dashboard */
#dashboardPage .cardContent,
#dashboardPage .sessionNowPlayingInnerContent {
  border-radius: var(--rounding-input) var(--rounding-input) 0 0 !important;
}
