/*  
  ==================================
  Media Lists
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic

*/

/* media indicators in media list */
.cardIndicators,
.listItemIndicators,
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}


@supports (backdrop-filter: blur(15px)) {
    #indexPage .itemProgressBar, .libraryPage .itemProgressBar, #itemDetailPage .itemProgressBar {
        backdrop-filter: blur(12px);
        background: rgba(0, 0, 0, 0.35) !important;
    }
}



.itemsContainer-tv {
  padding-right: 3.3% !important;
}

/* Affects blurhash to remove the saturated colors to fit overall look */
.blurhash-canvas {
	filter: opacity(60%) saturate(60%);
}

/* Backdrop ListItems: width 20% for each element */
.itemsContainer-tv > .backdropCard,
.itemsContainer-tv > .overflowBackdropCard {
  width: 30% !important;
}

/* Overflow cards */
.itemsContainer-tv > .portraitCard,
.itemsContainer-tv > .overflowPortraitCard, 
.itemsContainer-tv > .overflowSquareCard {
  width: 14% !important;
}

.overflowBackdropCard > .cardBox > .cardText-first {
  display: none;
}

.overflowBackdropCard > .cardBox > .cardText-secondary {
    font-size: 95% !important;
    padding-top: .6em !important;
    color: inherit;
}

/* more space for zoomed cards */
.card.portraitCard.show-focus.show-animation,
.card.backdropCard.show-focus.show-animation {
  padding-bottom: 1.5em !important;
}

/* more space between title and list items */
.sectionTitleContainer-cards {
  padding-bottom: 0.5em !important;
}
.padded-right-withalphapicker {
  padding-right: 5% !important;
}




/* New progress bar */
#indexPage .innerCardFooterClear,
.libraryPage .innerCardFooterClear,
#itemDetailPage .innerCardFooterClear {
  background: #0000 !important;
  box-shadow: none;
}
#indexPage .itemProgressBarForeground,
.libraryPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground,
#indexPage .itemProgressBar,
.libraryPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
  border-radius: var(--rounding);
}
#indexPage .itemProgressBarForeground,
.libraryPage .itemProgressBarForeground,
#itemDetailPage .itemProgressBarForeground  {
  background: rgba(var(--accent), 0.95) !important;
}
#indexPage .itemProgressBar,
.libraryPage .itemProgressBar,
#itemDetailPage .itemProgressBar {
  height: 6px;
  background: var(--background-dark40) !important;
  margin: .5em .8em;
}

/* Fix footers/headers displaying on small pop-ups */
.formDialogFooter-clear,
.formDialogHeader-clear,
.innerCardFooterClear {
    background: #0000 !important;
}