/*  
  ==================================
  Base & Header
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic/header/header_transparent.css & Ultrachromic/fixes.css

*/

/* Accent Colors */
:root {--accent: 204, 151, 98 ;}
:root {--light60: rgba(255, 255, 255, 0.6) ;}
:root {--light40: rgba(255, 255, 255, 0.4) ;}
:root {--light20: rgba(255, 255, 255, 0.2) ;}
:root {--dark20: rgba(0, 0, 0, 0.2) ;}
:root {--dark40: rgba(0, 0, 0, 0.4) ;}
:root {--dark60: rgba(0, 0, 0, 0.6) ;}
:root {--dark80: rgba(0, 0, 0, 0.8) ;}
:root {--transparent: #0000 ;}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap'); body, h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Background & Backdrop */
.skinHeader-withBackground,
.backgroundContainer.withBackdrop {
  background: var(--dark80) !important;
}

/*
| Smaller TV Layout
-----------------------------*/

/* general "dpi" */
.layout-tv {
  font-size: 110% !important;
}

/* page adjustments */
#indexPage, 
#moviesPage, 
#tvRecommendedPage, 
#musicRecommendedPage {
  margin-top: 5em !important;
  padding-top: 0.5em !important;
}

/*
| Scrollbar
-----------------------------*/

/* scrollbar Color */
* {
  scrollbar-color: rgba(var(--accent), 0.8) !important;
}

/* Show - auto (thin) */
#moviesPage, 
#moviesPage::-webkit-scrollbar,
#tvRecommendedPage, 
#tvRecommendedPage::-webkit-scrollbar,
#itemDetailPage,
#itemDetailPage::-webkit-scrollbar {
  overflow-y: auto;
  scrollbar-width: thin;
}

/* Hide */
.libraryDocument,
.libraryDocument::-webkit-scrollbar, 
#indexPage, 
#indexPage::-webkit-scrollbar,
#loginPage,
#loginPage::-webkit-scrollbar {
  overflow-y: auto !important;
  scrollbar-width: none;
}

/* Scrollbar Thumb*/
.mdl-slider::-moz-range-thumb,
.mdl-slider::-ms-thumb,
.mdl-slider::-webkit-slider-thumb,
::-webkit-scrollbar-thumb {
  border-radius: var(--rounding);
  background: rgba(var(--accent),0.8) !important;
}

/* Scrollbar div */
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background: #0000 !important;
}


/*
| Fields & Inputs
-----------------------------*/

/* Textarea */
.emby-textarea {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
  border-radius: var(--rounding-input) !important;
  resize: vertical !important;
  font-family: monospace;
  font-size: 10pt;
  padding: .5em .6em;
}

/* Input */
.emby-input{
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
  border-radius: var(--rounding-input) !important;
  padding: .5em .6em;
}

/* Select */
.emby-select-withcolor {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
}
.selectArrow {
  margin-top: 1.05em;
}
.emby-select {
  border-radius: var(--rounding-input) !important;
}

/* Checkbox */
.checkboxOutline {
  background: var(--dark60); 
  border: 0.01em solid var(--light20);
}

/* Links */
.button-link {
  color: rgb(var(--accent), 0.8) !important;
}

/*
| Fields & Inputs: Animation
-----------------------------*/

/* Input, Textarea & Select: Focus */
.emby-input:focus,
.emby-textarea:focus,
.emby-select-withcolor:focus {
  border: 0.01em solid rgba(var(--accent),0.5) !important;
  background: var(--dark40) !important; 
}

/* Checkbox: Focus & Hover */
.emby-checkbox:focus + .checkboxLabel,
.emby-checkbox:hover + .checkboxLabel {
  color: rgb(var(--accent), 0.8) !important;
}
.emby-checkbox:focus + span + .checkboxOutline,
.emby-checkbox:hover + span + .checkboxOutline {
  border: 0.01em solid rgba(var(--accent),0.8) !important;
}

/* Checkbox: Checked */
.emby-checkbox:checked + span + .checkboxOutline {
  border: 0.01em solid rgba(var(--accent), 0.6) !important;
  background: rgba(var(--accent), 0.6) !important;
}


/*
| Taskbar
-----------------------------*/

/* don't scroll taskbar in tv mode */
.layout-tv .skinHeader {
  position: fixed !important;
}

/* Top "taskbar" - text & vertical-scroll */
.headerTabs.sectionTabs {
  text-size-adjust: 105%;
  font-size: 105% !important;
  width: 50vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: -4em !important;
  align-items: center;
  align-self: center;
  position: relative;
}

/* items in "taskbar" - same size as header */
.emby-tabs-slider {
  white-space: nowrap;
  height: 3.8em;
}

/* center buttons on taskbar */
.headerTop {
  padding: 1em 1em !important;
}

/* make buttons slightly bigger */
.sectionTabs {
  font-size: 105% !important;
}

/* Tab Buttons */
.emby-tab-button {
  padding: 1.1em 1.5em !important;
}

/* Tab Buttons: Focus & Hover */
.emby-tab-button:hover,
.emby-tab-button:focus {
  color: rgb(var(--accent)) !important;
  transform: scale(1.2) !important;
}

/* Tab Button: Active */
.emby-tab-button-active {
  background: var(--transparent) !important;
  color: #fff;
}


/*
| Menu Page
-----------------------------*/

/* Improve some menu alignments */
.navMenuOptionText {
  margin-top: 0;
}
.formDialogHeaderTitle {
  margin-left: 1em;
}
.formDialogContent {
  margin-bottom: 6.2em;
}
.dialogContentInner {
  padding: .5em 1em 1em;
  padding-right: 1em;
  padding-left: 1em;
}
.listItem-indexnumberleft {
  margin: 1em;
}
.listItem {
  padding-left: 1em;
}

/* Remove background on some icons */
.listItemIcon {
  background: var(--transparent) !important;
}

/* Remove divider on list items */
.listItem-border {
  border-color: var(--transparent) !important; 
}



/* home library button */
.homeLibraryButton {
  min-width: 12em;
  margin: 0.4em;
}
@media all and (max-width: 26em){
  .homeLibraryButton {
    min-width: 45%;
    width: auto !important;
  }
}
.homeLibraryButton {
  width: auto !important;
}



/*
| Misc
-----------------------------*/

/* current sessions */
.sessionCardFooter {
  border: none;
}

/* user setting tab buttons */
div[data-role="controlgroup"] a[data-role="button"] {
  display: table-cell !important;
  margin: 0 !important;
}

/* Theme process progress ring */
.progressring {
  margin: .4em;
}
.progressring-bg {
  display: none;
}


/* Loading Spinner: Accent Color */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: rgba(var(--accent)) !important;
}


/* Fix footers/headers displaying on small pop-ups */
.formDialogFooter-clear,
.formDialogHeader-clear {
  background: transparent !important;
  background-color: transparent !important;
}

/* Shrink the mouseover chapter image when scrobbling, still media player */
.chapterThumb {
  height: 14vh;
  min-width: 14vh;
	box-shadow: 0 0 1.9vh #000;
}
.chapterThumbText {
  font-size: 1em;
}
.sliderBubble {
  background: #0000;
}
.chapterThumbTextContainer {
  right: auto;
	bottom: 4px;
	padding: .25em 0.7em;
}
.chapterThumbContainer {
  box-shadow: 0 0 1.9vh #000;
}
.sliderBubble {
  -webkit-transform: translate3d(-50%,-108%,0);
  transform: translate3d(-50%,-108%,0);
}

/*Theme slider marker style*/
.sliderMarker {
  width: 3px;
  border-radius: 2px;
}

/* Glow Toast */
.toast {
  box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
}


/*
| Fixes
-----------------------------*/

/* Fix top right user icon when using a profile image */
.headerUserButtonRound {
  border-radius: 50px !important;
}


