/*
    Modified: "Ultrachromic/cornerindicator/indicator_corner.css"
*/

/* Card indicators style corner */

.cardIndicators,
.listItemIndicators,
.mediaSourceIndicator {
  right: 0.5em !important;
  top: 0.5em !important;
}
.innerCardFooter {
  background: rgba(0,0,0,0.4);
  border-radius: var(--rounding-indicators) var(--rounding-indicators) !important;
  box-shadow: 1px -1px 4px 0 rgba(0,0,0,0.3);
}
.countIndicator {
  background: var(--background-indicator);
  border-radius: var(--rounding-indicators) var(--rounding-indicators) !important;
  box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.3);
  color: rgba(var(--accent), 1);
}
.playedIndicator {
  background: var(--background-indicator);
  border-radius: var(--rounding-indicators) var(--rounding-indicators) !important;
  box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.3);
  color: rgba(var(--accent), 1);
}
.mediaSourceIndicator {
  background: var(--background-indicator);
  border-radius: var(--rounding-indicators) var(--rounding-indicators) !important;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}
.missingIndicator, .unairedIndicator {
    background: #ae3030eb;
    padding: .3em .6em;
    color: #fff;
}