/*  
  ==================================
  Media Page
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic

*/

/* account bigger taskbar */
.layout-tv .itemDetailPage {
    padding-top: 4.7em !important;
}

/* hide some elements on page in ribbon and details */
.detailLogo,
.endsAt
.hide+.detailPageWrapperContainer .itemName
.itemExternalLinks,
.itemTags {
  display: none !important;
}

/*
| Details Ribbon (Media Infos)
-------------------------------------------------*/

/* style & placement of the ribbon */
.detailRibbon {
  padding-left: 32vw !important;
  padding-right: 2%;
}

/* desktop mode only */
.layout-desktop .detailRibbon {
  height: 9em !important;
  margin-top: -11em !important;
}


/*
| Media Info and Buttons
-------------------------------------------------*/

/* media infos - placement and white color */
.itemMiscInfo {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  color: #ffffff !important;
}
.parentName {
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

/* make them bigger and fix spacing */
.layout-tv .mainDetailButtons {
  font-size: 120% !important;
  margin-bottom: 0.25em !important;
}


/*
| Media Poster
-------------------------------------------------*/

/* Cover Style*/
.detailImageContainer .card {
  max-height: 80vh;
  max-width: 25vw;
  left: 3% !important;
  position: absolute !important;
  overflow: hidden;
}

/* Portrait Position */
.card.portraitCard {
  top: 23% !important;
  bottom: initial !important;
}

/* Landscane Position */
.card.backdropCard {
  top: 31% !important;
  bottom: initial !important;
}

/*
| Media Description
-------------------------------------------------*/

/* Episode / Movie Title */
#itemDetailPage .itemName.infoText.parentNameLast {
  display: block;
  padding-bottom: 0.3em;
}

/* Media Title and Buttons */
.detailPagePrimaryContent {
  padding-bottom: 1em;
  border-radius: var(--rounding);
}

/* Track Selections (audio & subtitles) */
.trackSelections {
  max-width: 100%;
  width: 60%;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.detailTrackSelect {
  background: transparent !important;
  padding: .35em 1.9em .35em .35em !important;
}

/* Media Description */

.itemDetailPage {
  padding-top: 6em !important;
}
.detailPageContent {
  padding-left: 32vw !important;
}
.detailPageSecondaryContainer {
  padding-top: 0em !important;
}
.detailVerticalSection {
  margin-left: -1%;
  margin-bottom: 0em !important;
}

.overview.detail-clamp-text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* narrow space between description and genre */
.itemDetailsGroup {
  margin-top: 0.5em !important;
}

/*
| Section Layout (cast, more...)
-------------------------------------------------*/

/* fix section title placement */
.sectionTitle {
	margin-left: .4em !important;
	margin-top: .2em !important;
	margin-bottom: .2em !important;
}
.sectionTitleTextButton > .material-icons {
  margin: 0;
}

/* Media sections - Mobile layout */
.layout-mobile :not(.sectionTitleContainer-cards)>.sectionTitle-cards {
 padding-top:0em;
}

.layout-mobile .sectionTitleTextButton > .material-icons {
  padding-top: .2em;
}


