/*  
  ==================================
  Accent Colors
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic/login/login_frame.css

*/

:root {--accent: 204,151,98;}
:root {--background-light60: rgba(255, 255, 255, 0.6) ;}
:root {--background-light40: rgba(255, 255, 255, 0.4) ;}
:root {--background-light20: rgba(255, 255, 255, 0.2) ;}
:root {--background-dark20: rgba(0, 0, 0, 0.2) ;}
:root {--background-dark40: rgba(0, 0, 0, 0.4) ;}
:root {--background-dark60: rgba(0, 0, 0, 0.6) ;}
:root {--background-dark80: rgba(0, 0, 0, 0.8) ;}


/*
| All Pages
-----------------------------*/


/* Background & Backdrop */
.skinHeader-withBackground,
.backgroundContainer.withBackdrop {
  background-color: var(--background-dark80) !important;
}

/* scrollbar */
* {
  scrollbar-color: rgba(var(--accent),0.8) #0000 !important;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track-piece {
  background-color: #0000;
}
::-webkit-scrollbar-thumb {
  background: rgba(var(--accent),0.8) !important;
}

/* Theme process progress ring */
.progressring-spiner {
  border-color: rgba(var(--accent));
  border-width: .35em;
}

.mainDrawer {
  background-color: var(--background-dark80);
}

.appfooter {
	background: var(--background-dark80);
}

.infoBanner {
  background: black;
}

.css-4yt2of {
  background-color: var(--background-dark60);
  border-right: 1px solid rgba(var(--accent), 0.12);
}

/*
| Single Pages
-----------------------------*/

/* Login Page */
#loginPage .cardImage {
  color: rgba(var(--accent)) !important;
  background: var(--background-light20) !important;
}

/* Media Details */
#itemDetailPage .button-link {color: inherit !important;}


/* Dashboard */
#user_usage_report_table,
.detailTable {
  background: rgba(0,0,0,.5);
}

.detailTableBodyRow-shaded {
  background: #0000 !important;
}

.layout-mobile .listItemImageButton {
  background: rgba(0, 0, 0, 0);
}

/*
| Taskbar
-----------------------------*/

/* Tab-Buttons in Taskbar */
.emby-tab-button-active {
  background: #0000 !important;
  color: #fff;
}

/* Remove background on some icons */
.listItemIcon {
  background: #0000 !important;
}


/*
| Lists & Cards
-----------------------------*/

/* Affects blurhash to remove the saturated colors to fit overall look */
.blurhash-canvas {
	filter: opacity(60%) saturate(60%);
}

/* more space for portrait cards */
.card.portraitCard.show-focus.show-animation {
  padding-bottom: 1em !important;
}

/* Background: Dark */
.paperList, 
.visualCardBox{
  background-color: var(--background-dark40);
}

/* Remove divider on list items */
.listItem-border {
  border-color: rgba(255, 255, 255, 0) !important; 
}

/* Shadows */
.visualCardBox,
.cardImageContainer {
  box-shadow: none;
}

/*
| Lists & Cards - Glow
-----------------------------*/

/* Cards: Zoom on Focus */
.card.show-animation:focus > .cardBox {
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

/* Item Cards: Glow Card */
.card.PortraitCard.show-animation:hover > .cardBox,
.card.PortraitCard.show-animation:focus > .cardBox {
  box-shadow: 0px 0px 5px rgba(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
  border-radius: var(--rounding);
}

.card.portraitCard.show-animation:hover > .cardBox, 
.card.portraitCard.show-animation:focus > .cardBox {
    box-shadow: 0px 0px 5px rgba(var(--accent)) !important;
    border: solid 1px rgba(var(--accent), 0.6) !important;
    border-radius: var(--rounding);
}

/* Overflow Cards: Glow Image only */
.card.overflowPortraitCard.show-animation:hover > .cardBox > .cardScalable,
.card.overflowPortraitCard.show-animation:focus > .cardBox > .cardScalable,
.card.overflowBackdropCard.show-animation:hover > .cardBox > .cardScalable,
.card.overflowBackdropCard.show-animation:focus > .cardBox > .cardScalable {
  box-shadow: 0px 0px 5px rgba(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
  border-radius: var(--rounding);
}

/* Misc: Glow */
.toast,
.raised.homeLibraryButton:hover {
  box-shadow: 0px 0px 5px rgb(var(--accent)) !important;
  border: solid 1px rgba(var(--accent),0.6) !important;
}

/* Misc: Don't Glow */
.cardOverlayContainer, 
.raised.homeLibraryButton {
  box-shadow: 0px 0px 5px rgba(var(--accent), 0) !important;
  border: solid 1px rgba(var(--accent),0) !important;
}

/* Misc: (??) */
.drawer-open {
  box-shadow: 0px 0px 5px rgba(var(--accent), 1) !important;
  border-right: solid 1px rgba(var(--accent), 1) !important;
}

/*
| Media Indicators
-----------------------------*/

/* Count & Played */
.innerCardFooter,
.countIndicator,
.playedIndicator,
.mediaSourceIndicator {
  color: black;
  background: rgb(var(--accent)) !important;
}

/* Missing & Unaired */
.missingIndicator,
.unairedIndicator {
    background: #ae3030eb;
    padding: .3em .6em;
    color: #fff;
}

/*
| Play Progress in Cards
-----------------------------*/

/* Bar: Accent */
progress::-moz-progress-bar,
progress::-webkit-progress-value {
  background-color: rgba(var(--accent),0.75);
}

/* Background */
progress,
.taskProgressOuter {
  background: var(--background-dark40) !important;
  border: 1px solid var(--background-light20);
}

progress::-webkit-progress-bar {
  border: 0px solid var(--background-light20);
}


/* Accent: 75% */
.playbackProgress > div {
  background-color: rgba(var(--accent),0.75) !important;
}


/* Player watched state: Accent 75% */
.taskProgressInner,
.sliderMarker.watched {
  background: rgba(var(--accent),0.75) !important;
}


/* Accent: 35% */
#dashboardPage .transcodingProgress > div,
.itemProgressBarForeground {
  background-color: rgba(var(--accent), 0.35) !important;
}

/* Black / White */
.itemProgressBar {
  background: var(--background-dark20);
}

.backgroundProgress > div {
  background: transparent;
}


/* Library Scan Progress */
#divRunningTasks span,
#scheduledTasksPage span {
  color: var(--background-light60) !important;
}


/*
| Player
-----------------------------*/

.subtitleappearance-preview {
  background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}


/*
| Buttons
-----------------------------*/

/* Accent Color: 100% */
.buttonActive,
.css-17c09up.Mui-selected
.inputLabelFocused,
.navMenuOption-selected,
.playstatebutton-icon-played,
.ratingbutton-icon-withrating,
.upNextDialog-countdownText,
.selectLabelFocused,
.textareaLabelFocused {
  color: rgba(var(--accent)) !important;
}

/* Background: Black & White */
a[data-role="button"],
.fab,
.navMenuOption-selected,
.raised,
.selectionCommandsPanel {
  background: var(--background-dark40) !important;
}

.raised.homeLibraryButton {
  background: var(--background-light40) !important;
}

/* user settings button */
div[data-role="controlgroup"] a.ui-btn-active {
  background: var(--background-dark40) !important;
  color: white !important;
}


/*
| Button Animations
-----------------------------*/

/* Transitions */
.raised.homeLibraryButton,
.raised.homeLibraryButton:hover {
  transition: filter 0.2s
}
.listItem:hover {
  transition: 0.2s;
}

.raised,
.fab,
a[data-role="button"] {
	transition: all 0.2s !important;
}

/* Accent on Hover & Focus: 100% */
.button-link:hover,
.button-link:focus,
.button-flat:hover,
.button-flat:focus,
.cardOverlayButton:hover,
.emby-tab-button:hover,
.emby-tab-button:focus,
.paper-icon-button-light:hover,
.paper-icon-button-light:hover:not(:disabled),
.paper-icon-button-light:focus,
.paper-icon-button-light:focus:not(:disabled),
.raised.homeLibraryButton:hover {
  color: rgb(var(--accent)) !important;
}

/* Background on Hover & Focus: Accent 50% */
.raised:hover, 
.raised:focus,
.fab:hover,
.navMenuOption:hover,
.actionSheetMenuItem:hover,
.css-17c09up:hover,
a[data-role="button"]:hover {
  background: rgba(var(--accent),0.5) !important;
}

/* Background on Hover & Focus: Black & White*/
.button-link:hover,
.button-link:focus,
.button-flat:hover,
.button-flat:focus,
.paper-icon-button-light:hover,
.paper-icon-button-light:hover:not(:disabled),
.paper-icon-button-light:focus,
.paper-icon-button-light:focus:not(:disabled),
.cardOverlayButton:hover {
  background: var(--background-light40) !important;
}

.raised.homeLibraryButton:hover {
  background: var(--background-light60) !important;
}

/* List entries */
.listItem-button:focus,
.listItem-border.emby-button:focus {
  background: rgba(var(--accent),0.8) !important;
}
.listItem-button:hover,
.listItem-border.emby-button:hover {
  background: rgba(var(--accent),0.4) !important;
}


/*
| Slider (Play progress & volume)
-----------------------------*/

/* Background: Accent: 100% */
.mdl-slider-background-lower {
  background-color: rgba(var(--accent));
} 

/* Background & Thumb: Accent: 100% */
.iconOsdProgressInner,
.mdl-slider::-moz-range-thumb,
.mdl-slider::-ms-thumb,
.mdl-slider::-webkit-slider-thumb {
  background: rgba(var(--accent));
  color: rgba(var(--accent));
}


/*
| Fields & Inputs
-----------------------------*/

/* Background: Accent 50% */
.mdl-switch__input:checked + .mdl-switch__label + .mdl-switch__trackContainer > .mdl-switch__track {
  background: rgba(var(--accent), 0.5);
}

/* Background: Dark */
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  background: var(--background-dark60); 
}

/* Borders: Accent 50% */
.itemSelectionPanel {
  border: 0.01em solid rgba(var(--accent),0.5) !important;
}

/* Borders: Black & White */
.checkboxOutline,
.emby-input,
.emby-textarea,
.emby-select-withcolor {
  border: 0.01em solid var(--background-light20);
}




/*
| Fields & Inputs - Animations
-----------------------------------*/

/* CheckBox */
.emby-checkbox:checked + span + .checkboxOutline,
.emby-checkbox:focus:not(:checked) + span + .checkboxOutline {
  border: 0.01em solid rgba(var(--accent),0.5) !important;
}

.emby-checkbox:checked + span + .checkboxOutline {
  background: var(--background-dark40) !important; 
  border: 0.01em solid rgba(var(--accent), 0.8) !important;
}


/* Text & Select: Accent 50% */
.emby-input:focus,
.emby-select-withcolor:focus,
.emby-textarea:focus,
.itemSelectionPanel {
  border: 0.01em solid rgba(var(--accent),0.5) !important;
  background: var(--background-dark40) !important; 
}


/* Borders on Focus: Accent 80% */
/*
.itemSelectionPanel {
  border: 0.01em solid rgba(var(--accent), 0.8) !important;
}
*/

/*
| Misc
-----------------------------*/

/* Loading Spinner: Accent Color */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
  border-color: rgba(var(--accent)) !important;
}


/* Loading Spinner: Background */

/*
.mdl-spinner__layer-1 {border-color: rgba(255, 255, 255, 0.8);}
.mdl-spinner__layer-2 {border-color: rgba(128, 128, 128, 1);}
.mdl-spinner__layer-3 {border-color: rgba(40, 40, 40, 1);}
.mdl-spinner__layer-4 {border-color: rgba(0, 0, 0, 1);}
*/


/* ?? */
fieldset {
  border: 1px solid rgba(40, 40, 40, 0.8); 
  border-radius: 0.4em;
}
