/*  
  ==================================
  Player & Osd
  ==================================

  finny - HTPC Theme for Jellyin
  Based on: Ultrachromic/progress/floating.css

*/

/*
| Vdeo OSD 
-------------------------------*/

/* Hide some elements */
.btnFullscreen,
.btnPip {
  display: none;
}

/* zoom media buttons  */
.autoSize.paper-icon-button-light:focus {
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* don't zoom header buttons */
.headerButton {
    -webkit-transform: scale(1.0) !important;
    transform: scale(1.0) !important;
}

/* style the controls*/
.startTimeText,
.endTimeText {
    width: 3.4em;
    display: block;
    text-align: center;
}
.osdTitle {
  margin-left: 0.5em;
}
.videoOsdBottom {
  padding-top: 1em;
  padding-bottom: max(env(safe-area-inset-bottom), 1em);
}
.skinHeader-withBackground.osdHeader {
  height: 5em;
}

/*
| Player
-------------------------------*/

.nowPlayingPageImage {
  border: none;
}

.upNextDialog-countdownText {
  color: white;
}


/* Subtitle preview */
.subtitleappearance-preview {
  background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}

/* Play progress & volume */
.mdl-slider {
  color: rgba(var(--accent)) !important;
} 

/* Background: Accent: 100% */
.mdl-slider-background-lower {
  background: rgba(var(--accent)) !important;
} 

/* Background & Thumb: Accent: 100% */
.iconOsdProgressInner,
.mdl-slider::-webkit-slider-thumb {
  background: rgba(var(--accent));
  color: rgba(var(--accent));
}

