/*  
  ==================================
  Player & Osd
  ==================================

  finnyTV - HTPC Theme for Jellyin
  Based on: Ultrachromic/progress/floating.css

*/


/*
| Vdeo OSD 
-------------------------------*/

/* OSD Header: Size */

.skinHeader-withBackground.osdHeader {
  --webkit-backdrop-filter: none;
}

/*
.libraryPage,
.libraryPage:not(.noSecondaryNavPage) {
  padding-top: 4.5em !important;
}
*/

/* OSD Bottom: Background */
.videoOsdBottom {
  background: rgba(0, 0, 0, var(--headeropacity)) !important;
  box-shadow: 1px -20px 20px 10px rgba(0, 0, 0, var(--headeropacity)) !important;
  padding-top: .5em;
  padding-bottom: max(env(safe-area-inset-bottom), 1em);
}


/* OSD Header: Hide some Elements */
.btnFullscreen,
.btnPip {
  display: none;
}

/* OSD Footer */
.buttons.focuscontainer-x {
  padding: .5em 0 0 !important;
}

/* OSD Buttons: Style */
.paper-icon-button-light.show-focus:not(.headerButton) {
  border: solid 2px #0000 !important;
  padding: .4em !important;
}

/* OSD Buttons: Zoom on Focus */
.paper-icon-button-light.show-focus:not(.headerButton):focus {
  border: solid 2px rgba(var(--accent), 0.6) !important;
  -webkit-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
}

/* style the controls*/
.startTimeText,
.endTimeText {
  width: 3.4em;
  display: block;
  text-align: center;
}

.osdTitle {
  margin-left: 0.5em;
}


.osdPoster img {
  border-radius: var(--rounding); 
  border: none;
}






/* Fix the UI shifting around */
.nowPlayingBarCurrentTime {
  width: 6em;
}

.osdTextContainer {
  margin: 0 !important;
  margin-top: 0.2em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

/* Progressbar */
.taskProgressInner,
.sliderMarker.watched {
  background: rgba(var(--accent),0.75) !important;
}

/* Upnext Countdown */
.upNextDialog-countdownText {
  color: rgba(var(--accent)) !important;
}


/*
| Player
-------------------------------*/

.nowPlayingPageImage {
  border: none;
}

.upNextDialog-countdownText {
  color: white;
}

/* Subtitle preview */
.subtitleappearance-preview {
  background: linear-gradient(140deg,rgb(var(--accent)),#111) !important;
}

/* Play progress & volume */
.mdl-slider {
  color: rgba(var(--accent)) !important;
} 

/* Background: Accent: 100% */
.mdl-slider-background-lower {
  background: rgba(var(--accent)) !important;
} 

/* Background & Thumb: Accent: 100% */
.iconOsdProgressInner,
.mdl-slider::-webkit-slider-thumb {
  background: rgba(var(--accent));
  color: rgba(var(--accent));
}

/* Skip-Button: Hover & Focus */
.skip-button:focus,
.skip-button:hover {
  background: rgba(var(--accent), 0.8) !important
}
